<div class="modal-header">
    <h4 class="modal-title pull-left text-uppercase"><i class="bi bi-trophy"></i> Vpiši se</h4>
    <button (click)="modalRef?.hide()" aria-label="Close" class="btn-close close pull-right" type="button">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngFor="let row of [0,1,2,3]" class="row mb-3">
        <div *ngFor="let cell of [0,1,2,3]" class="col">
            <button (click)="selectCell(row , cell)"
                    [class.last-letter]="sortBySelectedIndex[0] && sortBySelectedIndex[0].selectedIndex > 0 && boardBag[row][cell].selectedIndex === sortBySelectedIndex[0].selectedIndex"
                    [class.selected]="boardBag[row][cell].selected"
                    [disabled]="inProgress || maxLength"
                    class="btn cell w-100 card shadow-sm position-relative"
                    type="button">
                <div class="card-body w-100 text-uppercase fw-bold">
                    {{ boardBag[row][cell].value }}
                </div>
            </button>
        </div>
    </div>

    <div class="commands">
        <div class="card border-1 border mt-3 p-0 mb-0">
            <div class="card-body p-0">
                <div class="d-flex justify-content-between align-items-stretch">
                    <button (click)="restCurrentWord()"
                            class="btn btn-outline-secondary rounded-1 ps-3 pe-3 left-command"
                            type="button">
                        <i class="bi bi-trash3"></i>
                    </button>
                    <button (click)="reRoll()"
                            class="btn btn-secondary rounded-0 ps-3 pe-3"
                            type="button">
                        <i class="bi bi-dice-6-fill"></i>
                    </button>
                    <div class="flex-grow-1 justify-content-center d-flex align-items-center p-4">
                        <div class="me-2 text-uppercase">{{currentWord}}</div>
                        <span *ngIf="maxLength" class="text-muted"
                              style="font-size: 12px;">(Max dolžina)</span>
                    </div>
                    <button (click)="submit()"
                            [disabled]="currentWord.length < 1 || inProgress"
                            class="btn btn-primary rounded-1 ps-3 pe-3 right-command text-white"
                            type="button">
                        <i *ngIf="!inProgress" class="bi bi-send"></i>
                        <div *ngIf="inProgress" class="spinner-border spinner-border-sm" role="status"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>