<div class="row border-bottom">
    <div class="col-3 p-2 border-end">
        <app-score></app-score>
    </div>
    <div class="col p-2 d-flex align-items-center">
        <app-inventory [gameOverCondition]="gameOverConditionInSeconds"
        [level]="gameService.gameData?.game?.level!"></app-inventory>
        <button (click)="actionOpenMenu()"
                aria-label="Nastavitve"
                class="btn btn-outline-secondary ms-auto"
                type="button">
            <i class="bi bi-list"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col p-2 pt-3" role="application">
        <app-board (wordSubmitEvent)="handleWordSubmittedEvent($event)"
                   [gameOverCondition]="gameOverConditionInSeconds"
                   [wordLengthLimit]="wordLengthLimit"
                   [inProgress$]="inProgress$"
                   [lettersBag]="gameService.gameData!.lettersBag"
                   [timeProgress$]="timeProgress$"
                   [wordValid$]="wordValid$"
        ></app-board>
    </div>
</div>