<div class="h-100">
    <div class="border-bottom p-2 mb-2">Poišči {{GameService.GAME_GOAL}} besed.</div>
    <div class="bg-light p-2 mb-2">
        <div class="border-bottom pb-2 mb-2">Najdene besede</div>
        <a href="https://fran.si/iskanje?View=1&Query={{word}}" target="_blank" *ngFor="let word of gameService.guessedWords" class="bg-white border-1 border rounded-2 d-inline-block p-1 me-1">
            {{word}}
        </a>
    </div>

    <div class="bg-light p-2 mb-2">
        <div class="border-bottom pb-2 mb-2">Nepravilne besede</div>
        <a href="https://fran.si/iskanje?View=1&Query={{word}}" target="_blank" *ngFor="let word of gameService.missedWords" class="bg-white border-1 border rounded-2 d-inline-block p-1 me-1">
            {{word}}
        </a>
    </div>
</div>