<main role="main">
    <div class="d-flex align-items-center">
        <div class="container p-4">

            <ng-container *ngIf="this.gameService.gameData">
                <div class="row border-bottom">
                    <div class="col-3 p-2 border-end">
                        <app-score></app-score>
                    </div>
                    <div class="col p-2 d-flex align-items-center">
                        <app-inventory></app-inventory>
                        <button (click)="actionOpenMenu()"
                                aria-label="Meni"
                                class="btn btn-outline-secondary ms-auto"
                                type="button">
                            <i class="bi bi-list"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-2 pt-3" role="application">
                        <app-board *ngIf="gameService.gameState === GameState.SELECTING"
                                   [lettersBag]="gameService.gameData.lettersBag"></app-board>
                        <div *ngIf="gameService.gameState === GameState.LOSS" class="text-center">
                            <div class="mb-2 big-text">Konec igre.</div>
                            <button (click)="actionConfirmNewGame()"
                                    class="btn btn-outline-primary ms-auto"
                                    type="button">
                                <i class="bi bi-dice-5-fill"></i> Začni novo
                            </button>
                        </div>
                        <div *ngIf="gameService.gameState === GameState.VICTORY" class="text-center">
                            <div class="mb-2 big-text">Čestitke za uvrstitev na lestvico!</div>
                            <button (click)="actionConfirmNewGame()"
                                    class="btn btn-outline-primary ms-auto"
                                    type="button">
                                <i class="bi bi-dice-5-fill"></i> Začni novo
                            </button>
                        </div>
                        <app-leader-board *ngIf="gameService.gameState === GameState.VICTORY"></app-leader-board>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</main>


<router-outlet></router-outlet>
