$board-grid-dimensions: 30rem;
.board-grid {
  height: $board-grid-dimensions;
  width: $board-grid-dimensions;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

$board-cell-dimensions: 6.5rem;
$board-cell-margin-right: 1rem;
.board-cell {
  height: $board-cell-dimensions;
  width: $board-cell-dimensions;
  margin: 0;
  margin-right: $board-cell-margin-right;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  &.selected {
    background-color: #dfdfdf;
  }

  &.last-letter {
    background-color: var(--bs-primary);
    color: white;

    .board-cell-value {
      color: white !important;
    }
  }

  .board-cell-value {
    top: 0;
    right: -15px;
    font-size: 0.825rem;
  }
}

.board {
  width: $board-grid-dimensions;
}

.commands {
  margin-right: $board-cell-margin-right;
}
