<div class="board">
    <div class="board-grid">
        <button (click)="selectCell(index)"
                *ngFor="let gameCell of gameService.boardBag; let index = index"
                [class.last-letter]="isCellLastSelected(gameCell)"
                [class.selected]="gameCell.selected"
                class="btn board-cell card shadow-sm">
            <div class="card-body position-relative">
                <span class="board-cell-value text-muted position-absolute">{{gameService.letterValues[gameCell.value]}}</span>
                {{ gameCell.value }}
            </div>
        </button>
    </div>

    <div class="commands">
        <div class="card border-1 border mt-3">
            <div class="card-body">
                <div *ngIf="currentWord" class="d-flex justify-content-between align-items-center">
                    <button (click)="restCurrentWord()" class="btn btn-outline-secondary rounded-1 ps-3 pe-3">
                        <i class="bi bi-trash3"></i>
                    </button>
                    <div class="flex-grow-1 justify-content-center d-flex align-items-center">
                        <div class="me-2">{{currentWord}}</div>
                        <span *ngIf="currentWord.length > 2" class="text-muted"
                              style="font-size: 12px;">({{calculateScore(currentWord)}} točk)</span>
                        <span *ngIf="currentWord.length < 3" class="text-muted"
                              style="font-size: 12px;">(Vsaj 3 črke)</span>
                    </div>
                    <button (click)="submit()"
                            *ngIf="!wordInvalid"
                            [disabled]="currentWord.length < 3"
                            class="btn btn-outline-primary rounded-1 ps-3 pe-3">
                        <i class="bi bi-send"></i>
                    </button>

                    <button *ngIf="wordInvalid"
                            class="btn btn-outline-danger rounded-1 ps-3 pe-3">
                        <i class="bi bi-x"></i>
                    </button>

                </div>
                <div *ngIf="!currentWord" class="text-muted text-center">Poišči besedo, čas se izteka!</div>
            </div>
        </div>

        <div *ngIf="wordInvalid" class="alert alert-danger mt-2 text-center text-danger">Neznana beseda</div>
    </div>
</div>
