
.cell {

  height: 63px;

  font-size: 2rem;
  line-height: 1;
  border-width: 3px;

  .card-body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.selected {
    background-color: #dfdfdf;
  }

  &.last-letter {
    background-color: var(--bs-primary);
    color: white;

    .board-cell-value {
      color: white !important;
    }
  }
  .board-cell-value {
    top: 2px;
    right: 2px;
    font-size: 0.825rem;
  }

}
