.main-menu-list {
  button, a {
    width: 50%;
    max-width: 400px;
    min-width: 200px;

    .attention{
      background: var(--bs-primary);
      height: 10px;
      width: 10px;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  ul {

  }

  li {
    background: initial;
    text-align: center;
    border: 0 !important;
    margin-bottom: 1rem;
  }
}